/* stylesheet for period 3*/

body {
    background-color: rgba(120, 20, 180, 1);
}

p {
    color: rgba(0, 255, 255, 1);
    text-align: center
}

h1 {
    color: rgba(0, 255, 255, 1);
    text-align: center
}

h3 {
    color: rgba(0, 255, 255, 1);
    text-align: center;
}

a {
    color: rgba(255, 255, 255, 1);
}